DOCKER_BIND_ADDRESS=127.0.0.1

POSTGRES_DB=lecrev
POSTGRES_USER=lecrev
POSTGRES_PASSWORD=lecrev
POSTGRES_PORT=5432
POSTGRES_SHM_SIZE=256mb

REDIS_PORT=6379

MINIO_ROOT_USER=lecrev
MINIO_ROOT_PASSWORD=lecrev123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MAILPIT_UI_PORT=8025
MAILPIT_SMTP_PORT=1025

CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443
